.wrapper {
	margin: 15px auto;
	max-width: 1200px;
	text-align: center;
	color: coral;
	font-size: 40px;
}

.title {
	margin: 10px;
}
.text-space {
	display: block;
	margin: 0 auto;
	width: 900px;
	min-height: 200px;
	border: 1.5px solid coral;
}

.keyboard {
	display: block;
	border: 2px solid coral;
	padding: 30px;
	margin: 50px;
	border-radius: 10px;
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
	color: coral;
	box-shadow: 0.3px 3px 10px rgba(255, 128, 82, 0.344), -2px -2px 5px rgb(255, 128, 82, 0.2);
	background-color:rgba(245, 245, 245, 0.387);
}

.keyboard::after {
	content: '';
	display: block;
	clear: both;
}

.k-key {
	width: 70px;
	height: 70px;
	border: 1.5px solid coral;
	border-radius: 5px;
	color: coral;
	font-size: 20px;
	margin: 4px;
	padding: 3px;
	float: left;
	cursor: pointer;
	box-shadow: 0.2px 0px 1px chocolate, 2px 3px 3px chocolate;
}

.clearfix {
	clear: both;
}

.active {
	background-color: coral;
	color: #fff;
	transition: ease-in 0.2s;
}

.del,
.tab,
.capsLock,
.enter {
	width: 150px;
}

.enter {
	width: 155px;
}

.shift-left,
.shift-right {
	width: 195px;
}

.cmd-left,
.cmd-right {
	width: 85px;
}

.space {
	width: 463px;
}

.arrow-up,
.arrow-down {
	height: 30px;
}


.arrow-down {
	bottom: 30px;
	position: absolute;
	right: 131px;
	text-align: center;
}

.arrow-up,
.arrow-down,
.arrow-right,
.arrow-left {
	text-align: center;
}

.arrow-right,
.arrow-left {
	line-height: 65px;
}